{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <h4>The list of Ghibli movies</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
        <tr>
          <th scope="row">{{obj.id}}</th>
          <th>{{obj.title}}</th>
          <th>{{obj.description}}</th>
          <th>{{obj.director}}</th>
          <th>{{obj.producer}}</th>
          <th>{{obj.release_date}}</th>
          <th>{{obj.rt_score}}</th>
          <th>{{obj.people_text}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
</div>

{% endblock content %}
